@tailwind base;
@tailwind components;
@tailwind utilities;

.picker {
	width: 100%;
	background: transparent;
	border-radius: 9px;
}

.picker .react-colorful {
	width: auto;
}

.picker__swatches {
	display: flex;
	padding: 12px;
	flex-wrap: wrap;
	justify-content: center;
}

.picker__swatch {
	width: 24px;
	height: 24px;
	margin: 4px;
	border: none;
	padding: 0;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
}
